<div>
  <h1>Management Experience</h1>
  <p>I have five years experience leading development teams having successfully completed high priority and complex projects.</p>
  <ul>
    <li>
      <strong>Leading Projects throughout the Software Development Life Cycle</strong>. Worked from project inception where I would discuss with the stake holders and product owners new data,
      business rules, changes to operational and system processes, changes to the UI as well as how the new data points would be entered.
      Would come up with a project timeline with user acceptance testing, integration testing and deployment and communicate this to all affected teams when it was
      ready so that they were aware when any changes would affect them (and also communicate any changes to the timeline).
      Would come up with a UI design with the users with our guidance and as we developed, giving them early releases so that they could preview the changes
      and give us feedback early.
      We would also design the database, application logic and new system processes not related to the UI, such as ETL processes that fed data to our
      data warehouse our consumed data that was displayed in the application and how that would fit within the other system processes with minimal
      impact to other teams
    </li>
    <li>
      <strong>Continuous Improvement</strong>. I believe strongly in continuous improvement in my team. In any team I have led, we have discussed ways to make things better,
      ways the team as a whole can improve and also, what are we doing well. It is important to celebrate our achievements as a team and also, when we fail, we fail as a team.
      However, whenever we fall short, we should learn from our mistakes and see how not to repeat those things we did incorrectly. Also, anyone can bring ideas on how to improve
      the team and every idea should be heard.
    </li>
    <li><strong>Subservient Leader</strong>. .</li>
    <li><strong>Self managed teams</strong>. .</li>
    <li><strong>Excellent Communication Skills</strong>. .</li>
    <li>
      <strong>Innovation</strong>. I believe innovation is important for any team and company. We should try new ideas and fail fast. As such, I was one of three managers that started the Innovation Labs.
      This was a group with Kelley Blue Book that worked to foster innovation from anyone within the company, not just once a year during our Hackathon.
    </li>
  </ul>
</div>
