<div>
  <h1>Virtual Reality</h1>
  <p>I have extensive experience doing development for Virtual Reality</p>
  <ul>
    <li><strong>Unity Development</strong>. I have done development using Unity 3D from experiences, demos to complete games.</li>
    <li><strong>Experience developing for Virtual Reality and Augmented Reality headsets.</strong>. HTC Vive, Oculus Rift, Gear VR, Cardboard and Hololens.</li>
    <li><strong>Android Studio and OpenGL</strong>. I have also developed an application for the cardboard using Android Studio and Open GL.</li>
  </ul>
</div>
