<div>
  <h1>Amazon Web Services</h1>
  <p>I have experience developing solutions for AWS as well as three different certifications.</p>
  <ul>
    <li><strong><a href="../assets/AWS Certified SysOps Administrator - Associate certificate.pdf" target="_blank">Solutions Architect Associate</a></strong>.</li>
    <li><strong><a href="../assets/AWS Certified Developer - Associate certificate.pdf" target="_blank">Developer Associate</a></strong>.</li>
    <li><strong><a href="../assets/AWS Certified Solutions Architect - Associate certificate.pdf" target="_blank">SysOps Administrator Associate</a></strong>. </li>
    <li><strong>AWS Services</strong>. I have experience using EC2, VPC, Lambda, API Gateway, RDS (SQL Server, DynamoDB), S3, IAM, SNS, Cognito and Route53.</li>
  </ul>
  <p>
    This website is running on Lambda using API Gateway. I have run two other websites for my businesses on EC2 instances using a MySQL RDS instance since about 2015.
    I have implemented solutions using .Net Core on Lambda writing to a DynamoDB.
  </p>
</div>
