<div class="content-div">
  <h1>Amazon Web Services</h1>
  <p>I have experience developing solutions for AWS and had three certifications which I am working on renewing.</p>
  <ul>
    <li><strong><a href="../assets/AWS Certified SysOps Administrator - Associate certificate.pdf" target="_blank">Solutions Architect Associate</a></strong>.</li>
    <li><strong><a href="../assets/AWS Certified Developer - Associate certificate.pdf" target="_blank">Developer Associate</a></strong>.</li>
    <li><strong><a href="../assets/AWS Certified Solutions Architect - Associate certificate.pdf" target="_blank">SysOps Administrator Associate</a></strong>. </li>
    <li><strong>AWS Services</strong>. I have experience using Lambda, API Gateway, RDS (SQL Server, DynamoDB), S3, IAM, SNS, CloudFront, CloudWatch, Cognito and Route53.</li>
  </ul>
  <p>
    This website is running on S3. I have other websites running on S3 and Lambda.
    I have implemented solutions using .Net Core on Lambda writing to a DynamoDB.
  </p>
</div>
