<div class="content-div">
  <h1>Agile Methodologies</h1>
  <p>Have led teams using several different Agile Methodologies.</p>
  <ul>
    <li><strong>Scrum</strong>. The most well known of the Agile methodologies, it is also the most widely used. With fixed iterations, it works well for planning and estimating longer term projects.</li>
    <li><strong>Kanban</strong>. For teams that have irregular release cycles or mainly support production, Kanban is an ideal solution.</li>
    <li><strong>SAFE</strong>. The Scaled Agile Framework is a where an organization aligns its development teams to synchronize deliverables.</li>
    <li><strong>Agile Software</strong>. I have experience using Rally and VersionOne.</li>
  </ul>
  <p>
    I have experience developing and leading teams with all three of these Agile methods. I was also an active member of the Agile Council at Kelley Blue Book. This was a team of volunteers to answer that supported the use of
    Agile best practices throughout Kelley Blue Book. Finally, I have attended two Agile Conferences which was a great experience and I learned a lot about Agile and related topics.
  </p>
</div>
