<div>
  <h1>.Net and C#</h1>
  <p>I have over 14 years experience using .Net and C#.</p>
  <ul>
    <li><strong>Web Development</strong>. This website is using Angular. I have also used Angular 4 and ASP.Net MVC a well as older technologies such as ASP.Net Web Forms.</li>
    <li><strong>Windows Development</strong>. I have created WPF applications, Windows Services, Windows Forms and Console Applications.</li>
    <li><strong>Design Patterns</strong>. I have used Dependency Injection and the Repository Pattern as well as UI patterns such as MVC for web and MVVM for WPF.</li>
    <li><strong>Entity Framework</strong>. I have experience using data first and code first Entity Framework and have used EF5 and EF6. I also have used LINQ and Lambda expressions.</li>
    <li><strong>Services</strong>. I also have experience using WCF and Web API.</li>
    <li><strong>Asynchronous development</strong>. I have used multithreaded applications using Thread Pools and also created methods using Async/Await.</li>
  </ul>
  <p>I have been using .Net since about 2003 and have experience using object oriented design principals and design patterns.</p>
</div>
