<div class="content-div">
  <h1>Entrepeneur</h1>
  <p></p>
  <ul>
    <li><strong>Play VR Today</strong>. I owned and operated my own virtual reality arcade located in Santa Ana. Although it was highly reviewed and popular, I was unable to turn a profit and it closed its doors for good on July, 2017.</li>
    <li><strong>RealEstateVR.biz</strong>. This was a company and product I created on my own to create 360 virtual tours for real estate agents.</li>
  </ul>
  <p>
    I am a strong believer in entrepeneurship and have followed through with my ideas until the end. Although I haven't been monetarily successful with my idea for a virtual reality arcade, I view it as a success because
    I brought smiles to peoples faces, people loved the product and the customer service. This is evidenced by the twenty 5-star reviews we had on <a target="blank" href="https://www.yelp.com/biz/play-vr-today-santa-ana"><strong>Yelp</strong></a>.
    I also view it as a learning experience as I always try to learn from my mistakes and now know some things I would do differently if I had another opportunity.
  </p>
</div>
