<div>
  <h1>SQL Experience</h1>
  <p>Nearly 20 years experience using SQL Server</p>
  <ul>
    <li>
      <strong>Experience leading and working on data migration projects</strong>. I have worked on three major data migration projects which involve extensive data analysis to find data issues.
      After the issues are identified, I have done data scrubbing and transformation before migrating the data to the detination database.
    </li>
    <li>
      <strong>Creating and writing complex queries</strong>. I know more than just <code>select * from Authors;</code>. I can do inner joins, outer joins and cross joins.
      I alse extensively use common table expressions, temporary tables, table variables and (rarely) cursors.
    </li>
    <li>
      <strong>Database design</strong>. I have experience data modeling, designing databases and creating referential integrity (primary keys and foreign keys) between tables.
      I have also created other database objects such as stored procedures, user defined functions, views, schemas and maintenance plans.
    </li>
    <li>
      <strong>Query optimization</strong>. Using a variety of tools, from SQL Profiler to estimated execution plans, I have optimized low performing queries by adding indexes or simply optimizing queries
      (sometimes breaking up the query goes a long way). I also have experience planning for perfomance to avoid these issues from happening in the first place.
    </li>
    <li>
      <strong>Data analysis</strong>. Working on complex data migration projects, I have extensive experience analyzing data using my SQL skills and my analytical background.
      I have experience with finding data issues, patterns in the data or mapping data for migration.
    </li>
    <li><strong>SSIS and SSRS</strong>. I have maintained and created SSIS packages to trasform and move data. I also have experience creating reports using SSRS.</li>
    <li><strong>MySQL</strong>. I have also developed projects using MySQL and DynamoDB.</li>
  </ul>
</div>
